@font-face {
  font-family: 'sanfran';
  font-style: regular;
  font-weight: 300;
  src: local('truetype'), url('./fonts/System San Francisco Display Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'sanfran';
  font-style: thin;
  font-weight: 100;
  src: local('truetype'), url('./fonts/System San Francisco Display Ultralight.ttf') format("truetype");
}

html {
	margin: 0;
	font-family: "sanfran";
	background: #000;
	color: #FFF;
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
}
h1 {
	font-size: 150px;
	font-weight: 100;
	margin: 0;
	margin-bottom: 15px;
}
h2 {
	font-size: 40px;
	font-weight: 100;
	line-height: 1.4;
	margin: 0;
	letter-spacing: 0.8px;
}
h3 {
	font-size: 20px;
	font-weight: 100;
}
#current img {
	height: 120px;
	margin-left: 30px;
}
.wrapper {
	height: calc((100%) - 100px);
	position: relative;
	overflow: auto;
	margin: 50px 70px;
}
#current {
	overflow: auto;
	float: left;
	width: 50%;
	right: 0;
	top: 0;
}
#current h1 {
	display: flex;
	align-items: center;
	text-align: left;
}
#current h2 {
	width: 400px;
}
#current h3 i {
	margin-right: 5px;
}
#date {
	overflow: auto;
	float: right;
	width: 50%;
	right: 0;
	top: 0;
}
#date h1,
#date h2 {
	text-align: right;
}

#news {
	position: absolute;
	left: 0;
	bottom: 0;
}
#news i {
	margin-right: 8px;
}
#news a {
	letter-spacing: 0.8px;
	font-weight: 100;
	text-decoration: none;
	margin: 10px 0;
	color: #fff;
	display: inline-block;
}